
* {
    box-sizing: border-box;
}

#wrapper {
    height: 100%;
    padding: 0;
    margin: 0;
}

header nav ul li a {
    text-decoration: none;
    font-style: none;
}

#timer-down {
    float: right;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    border: none;
}

#float-left {
    float: left;
}

.main-body {
   
    width: 100%;
}
.title-card {
    font-style: oblique;
    text-align: center;
    margin-top: 5rem;
}

 
#instruction {
    text-align: center;
    margin-top: 3rem;
}

.start-button {
    display: inline-block;
    padding: 1rem;
    padding-left: 25px;
    padding-right: 25px;
    text-decoration: solid;
    line-height: 22px;
    margin: 16px 16px 16px 20px;
    padding: 14px 34px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: beige;
    border-radius: 25px;
    font-size: 25px;
    visibility: visible;
}

.submit-button {
    text-align: center;
    font-size: 15px;
}

.submit-button::after {
    width: 100%;
}

.submit-button::before {
    width: 100%;
}

@media (max-width: 690px) {
    .start-button {
        margin: 16px 16px 0px 0px;
        padding: 10px 15px;
    }
}

@media (max-width:500px) {
    .start-button {
        font-size: 0.8rem;
    }
}

#first-question { 
    position: absolute;
    top:0;
    left:0;
    height: 100px;
    width:100%;
    margin-top: 325px;
    visibility: hidden;
}

#second-question { 
    position: absolute;
    top:0;
    left:0;
    height: 100px;
    width:100%;
    margin-top: 300px;
    visibility: hidden;
}

#third-question { 
    position: absolute;
    top:0;
    left:0;
    height: 100px;
    width:100%;
    margin-top: 300px;
    visibility: hidden;
}

#fourth-question { 
    position: absolute;
    top:0;
    left:0;
    height: 100px;
    width:100%;
    margin-top: 300px;
    visibility: hidden;
}

#fifth-question {
    position: absolute;
    top:0;
    left:0;
    height: 100px;
    width:100%;
    margin-top: 300px;
    visibility: hidden;
}

.question_one_container {
    text-align: center;
    font-size: 15px;
}

.question_one_container::before {
    width: 100%;
}

.question_one_container::after {
    width: 100%;
}


#question-1 {
    text-align: center;
    font-size: 25px;
}
.answers {
    padding: 1rem;
    padding-left: 15px;
    padding-right: 25px;
    text-decoration: solid;
    line-height: 50px;
    margin: 16px 16px 16px 20px;
    background-color: rgb(106, 106, 173);
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.answers:hover {
    background-color: rgb(83, 62, 83);
}


